[submodule "hexo-theme-next"]
	path = hexo-theme-next
	url = https://github.com/iissnan/hexo-theme-next
[submodule "maupassant-hexo"]
	path = maupassant-hexo
	url = https://github.com/tufu9441/maupassant-hexo.git
